:root {
    --primary-text: #2D1A1F;
    --secondary-text: #5A2E36;
    --background: #F5D5ED;
    --secondary-bg: #E8C0D9; 
    --accent-coral: #FF6B6B;
    --accent-teal: #4ECDC4;
    --textfield-bg: #FFFFFF;
    --textfield-border: #FF9B9B;
  }

* {
    margin : 0; 
    padding : 0; 
    box-sizing: border-box;
    font-family:Times, serif;
    color : var(--primary-text)
}

body{
    display: flex;
    justify-content: center;
    padding:50px;
}
header {
    display: flex;
    gap: 20px; 
    position: relative; /* Pour positionner la barre */
    align-items: center; /* Alignement vertical */
    border-bottom: 3px solid #5072A7;
    width: 100%;
    padding:15px; 
}

.chat-header {
    font-size: 38px;
}

.chat-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid #5072A7;
    width: 700px; 
    gap: 20px;
    border-radius: 12px;
    font-size: 18px;
    box-shadow: 10px 10px 15px;
}

.input-container{
    display: flex;
    position: relative;
    width: 350px;
    margin-bottom: 20px;
}

.user-input{
    width : 100%; 
    border-radius: 12px;
    padding: 10px ; 
    background-color: rgb(0, 0, 0, 0.10);
    border-color: transparent;
    padding-right: 35px;
    font-size: medium;
    border-color: rgb(250, 250, 250, 0.15);
    
}

.user-input:hover{
    background-color: rgb(250, 250, 250, 0.25);
}

.user-input:focus{
    outline : none; 
}

.user-input::placeholder {
    color: var(--primary-text);
}

.sendButton{
    border: none; 
    background: transparent; 
    position: relative;
    right : 30px; 
}


.chat-messages {
    width: 700px; 
    height: 500px; 
    overflow-y: auto;
    overflow-x: hidden; 
    padding: 10px; 
    border-radius: 8px; 
    min-height: 500px;
    max-height: 500px; 
  }
  
.chat-messages::-webkit-scrollbar {
width: 8px;
}

.chat-messages::-webkit-scrollbar-track {
background: rgb(80, 114, 167,0.15);
border-radius: 4px;
}
  
.chat-messages::-webkit-scrollbar-thumb {
background: rgb(80, 114, 167, 0.50);
border-radius: 4px;
}

.message-content{
    display: flex;
    padding-bottom: 20px;
    gap:10px; 
    max-width: 800px;
    padding-right: 20px;
}

.user-message{
    flex-direction: row-reverse;
    color: white; 
}

.chat-message{
    font-weight: lighter;

    word-break: break-word; /* Standard syntax */
    -webkit-hyphens: auto; 
    hyphens: auto; 
    max-width: 600px; /* Prevent container overflow */

    background-color: lightgray;
    border-radius: 12px;

    display: flex;
    align-items: center;
    padding: 10px;
}

.speaker{
    font-size: 18px;
}

.bot{
    border-radius: 50%;
    width : 40px; 
    height: 40px;
    border: solid #5072A7;
    justify-content: center;
    align-items: center;
    display: flex;
}

.user{
    background-color: #5072A7;
}