<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieBot Chat Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=send" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=robot_2" />
</head>

<body>

    <section class="chat-container">

        <header>
            <div class="bot">
                <span class="material-symbols-outlined">
                    robot_2
                </span> 
            </div>
            <h1 class="chat-header">
                Novel brew 
            </h1>

        </header>

        <div class="chat-messages">
            
            <div class="message-content">
                <div class="bot">
                    <span class="material-symbols-outlined">
                        robot_2
                    </span>
                </div>
                <h4 class="chat-message">Hello! I'm here to help you. Ask me anything about our store !</h4>
            </div>
        
            
        </div>

        <div class="input-container">
            <input type="text" class="user-input" 
                   placeholder="Type your question here..." 
                   autocomplete="off">
            <button class="sendButton">
                <span class="material-symbols-outlined">
                    send
                </span>
            </button>
        </div>

    </section>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>